.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 100vh;
  h1{
    font-size: 15vw;
    text-align: center;
    color: red;
  }
  p{
    font-size: 10vw;
    text-align: center;
    padding: 0 15px;
  }

  .small{
    display: inline-block;
    font-size: 10px;
  }

  button{
    width: 25vw;
    height: 5vh;
    background: white;
    border: 1px solid red;
    border-radius: 5px;
    align-self: center;

  }

  button:hover{
    background-color: lightcoral;
    text-align: center;
  }
}



